.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}
h1 {
    background-color: #F9F9F9;
    text-align: center;
    opacity: 0.6;
}
.card-footer {
    margin: 0;
    padding: 0;
}
