/* remember to use fancy-header in the headers you want it in. */
.fancy-header {
    color: #41393E;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h2 {
    color: #AEC5EB;
    text-decoration: underline;
}

body {

    font-family: 'Ibarra Real Nova', serif;
    color: snow;
    background-image: url("../img/background1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    text
}


p {
    text-align: center;
}

ul {
    list-style: circle;
}

/*tr, td {
    padding: 1px;
    border: solid pink;
    border-radius: 3px;
}
*/
table {
    border: solid pink;
    border-radius: 3px;
}

a:link {
    color: coral;
}

a:visited {
    color: violet;
}

a:hover {
    color: lightslategrey;
}

a:active {
    color: yellow;
}

hr {
    border-top: 1px solid snow;
}

img {
    opacity: .8;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px pink;
}

